.formWrapper {
  padding: 20px;
  max-width: 380px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 28px;
  background-color: aliceblue;
}
.formInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
}
.formInput {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #424242;
  outline: transparent;
}
.errorMessage,
.formInner div {
  font-weight: 700;
  color: rgb(255, 71, 71);
}
.formBtn {
  display: block;
  width: 110px;
  padding: 7px;
  margin: 0 auto;
}
